@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --slate: #191826;
  --white: #FCFAF9;
  --yellow: #FFB964;
  --orange: #FA7453;
  --cyan: #66E2DC
}

body,
* {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--slate);
}

.container {
  width: 90%;
  max-width: 1120px;
  margin-inline: auto;
}

.text-1 {
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 5.5rem);
  line-height: 100%;
  letter-spacing: -1px;
}

.text-2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
}

.text-4 {
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 150%;
  letter-spacing: 0px;
}

.text-5 {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
}

.btn {
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.bg-slate {
  background-color: var(--slate);
}

.bg-white {
  background-color: var(--white);
}

.bg-orange {
  background-color: var(--orange);
}

.text-slate {
  color: var(--slate);
}

.text-white {
  color: var(--white);
}

.fw-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Header ****************** */

header {
  padding: 4rem 0rem;
  background-image: url('/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: 2vw -26vh;
}


header img {
  height: 2rem;
  margin-bottom: clamp(4rem, 5vw, 8rem);
}


h1 {
  max-width: 20ch;
  margin-bottom: 2.5rem;
}

header p {
  max-width: 60ch;
}

/* Main ****************** */
.main_slate {
  width: 100%;
  height: clamp(23.75rem, 10vw, 37.5rem);
  position: relative;
  margin-top: clamp(6.875rem, 7vw, 7.5625rem);
  background-image: url('../bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: 8vw 0vh;
}

.main_slate .illustration-app {
  position: absolute;
  left: 50%;
  height: 430px;
  transform: translate(-50%, -28%);
  z-index: 10;
}


main .card {
  padding-top: 3rem;
  padding-bottom: 6.9rem;
  position: absolute;
  top: 100%;
  width: 100%;

}

.card h2 {
  margin-bottom: 24px;
}

.card p {
  margin-bottom: 40px;
  max-width: 34ch;
}

.card .price {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Footer ********************* */
footer {
  padding: 64px 20px 80px 20px;
}

.icons {
  display: flex;
  gap: 32px;
}